[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.4"
requests = "==2.27.1"
youtube-dl = "==2021.12.17"
mutagen = "==1.45.1"
musicbrainzngs = "==0.7.1"
python-slugify = "==6.1.2"

[dev-packages]

[requires]
python_version = "3.10"
